body {
    font-family:Arial, Helvetica, sans-serif;
    color:indigo;
}

.container {
    background-color:darkorange;
    margin: 5px auto;
    padding: 5px;
    border-radius: 2px;
    max-width: 95vw;
}

.game {
    background-color:azure;
    display: flex;
    border-radius: inherit;
    text-align: center;
}

.tower {
    background-color: rgba(219, 186, 249, .4);
    border-width: 4px;
    border-color: white;
    border-radius: inherit;
    border-style: solid;
    width: 200px;
    height: 450px;
    margin: auto;
    flex-wrap: wrap;
    align-content: flex-end;
    display: flex;
}

.brick {
    background-color: deeppink;
    width: 98%;
    height: 50px;
    border-radius: inherit;
    border-color: crimson;
    border-width: 2px;
    border-style: solid;
}

.number {
    color:snow;
    font-size: 16px;
    margin: auto;
    line-height: 100%;
}

#resetButton {
    background-color: coral;
    outline-style: none;
    color: white;
    line-height: 20px;
    height: 24px;
    width: 30px;
}